{% extends "_layouts/main" %}

{% block content %}
 <div id="container">
        
        <section class="concert-info">
            <div class="concert-image">
                {% set concertImage = entry.concertAfbeelding.one() %}
                {% if concertImage %}
                    <img src="{{ concertImage.getUrl('containers') }}" alt="{{ entry.title }}">
                {% else %}
                    <img src="path/to/default-concert-image.jpg" alt="{{ entry.title }}">
                {% endif %}
            </div>
            
            <div class="concert-details">
                <p><strong>Beschrijving:</strong> {{ entry.beschrijving }}</p>
                <p><strong>Datum en Tijd:</strong> {{ entry.datumTijd|date('M d, Y - h:i A') }}</p>
                <p><strong>Locatie:</strong> {{ entry.locatie.title }}</p>
                <p><strong>Prijs:</strong> €{{ entry.prijs }}</p>
            </div>
        </section>
    </div>
{% endblock %}
