{% extends "_layouts/main" %}

{% block content %}
<div id="container">
    <div class="concert-details">
            {% set concertImage = entry.concertAfbeelding.one() %}
            {% if concertImage %}
                <img src="{{ concertImage.url }}" alt="{{ entry.title }}">
            {% else %}
                <img src="path/to/default-concert-image.jpg" alt="{{ entry.title }}">
            {% endif %}
        <div id="concert-details-info">
            <h1>{{ entry.title }}</h1>
            <p><strong>Beschrijving:</strong> {{ entry.beschrijving }}</p>
            <div id="all-flex">
                <div class="info-flex" id="prijs">
                    <p id="price">€ {{ entry.prijs }}</p>
                    <p>{{ entry.artiesten | join(', ') }}</p>
                </div>
                <div class="info-flex" id="locatie">
                    <p><i class="fa-solid fa-location-dot"></i> {{ entry.locatie.naam }}</p>
                </div>
            </div>
            <a href="#" class="book-button">Boek Nu</a>
        </div>
    </div>
</div>
    
    
{% endblock %}
