{% extends "_layouts/main" %}

{% block content %}
<div id="concert-container">
    <div class="concert-details">
            {% set concertImage = entry.concertAfbeelding.one() %}
            {% if concertImage %}
                <img src="{{ concertImage.url }}" alt="{{ entry.title }}">
            {% else %}
                <img src="path/to/default-concert-image.jpg" alt="{{ entry.title }}">
            {% endif %}
        <div id="concert-details-info">
            <h1>{{ entry.title }}</h1>
            <p id="description">{{ entry.beschrijving }}</p>
            <div id="all-flex">
                <div class="info-flex" id="prijs">
                    <p id="price">€ {{ entry.prijs }}</p>
                                       <div class="artists">
                        {% for artiest in entry.artiesten %}
                            <a href="/artiesten/{{ artiest.slug }}" class="artist-tag">{{ artiest.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="info-flex" id="locatie">
                                        {% set locatieEntry = entry.locatie.one() %}
                    <p><i class="fa-solid fa-location-dot"></i> {{ locatieEntry.naam }}</p>
                </div>
            </div>
            <a href="#" class="book-button">Boek Nu</a>
        </div>
    </div>
</div>
    
    
{% endblock %}
