{% extends "./_layouts/main" %}

{% block content %}
        {% set locaties = craft.entries.section('locaties').all() %}

 <div class="container">

    <section id="Concerts">
    <h1>Locaties</h1>
    <div class="flex-container-wrap">
        {% for locatie in locaties %}
            <div class="item-container">
                <a href="{{ locatie.url }}">
                <div class="item-image">
                    {% set locatieImage = locatie.locatieAfbeelding.one() %}
                    {% if locatieImage %}
                        {% do locatieImage.setTransform('containers') %}
                        <img src="{{ locatieImage.url }}" alt="{{ locatie.title }}" />
                    {% endif %}
                    <div class="overlay"></div>
                </div>
                
                <div class="item-info">
                    <h2>{{ locatie.title }}</h2>
                    <p><i class="fa-solid fa-location-dot"></i> {{ locatie.adres }}</p>
                </div>
                </a>
            </div>

        {% endfor %}
        
    </div>
    </section>
    </div>
{% endblock %}